.padding-top{padding-top: 10px}
.cursor-pointer{cursor: pointer;}
hr{
    border-top: medium none #fcfcfc;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 1);
    height: 0;
    margin: 32px 0;
}
.questions{margin-bottom: 2px; padding: 0 5px; border-left: 4px solid #ed1c24}
.birds-home{line-height: 30px;}
.birds-home Ul{
    margin: 0;
    padding: 0;
}
.birds-home Ul li{
    list-style: none;
}
.birds-home Ul li .question {
    font:100 18px/26px Arial;
}
.birds-home Ul li .question .number{
    color: #f7941d;
    font-weight: 700;
}

.birds-home Ul li .answer .number{
    color: #388e3c;
    font-weight: 700;
}
.answer li {
    line-height: 24px;
    padding: 5px 0;
}
.tags{padding: 0 30px;}
.associations{padding: 0 30px;}
.tags > span {
    background:#fcf79a;
    border-radius: 25%;
    font-size: 12px;
    margin-right: 5px;
    padding: 2px 14px;
}
.ref-link{width: 552px;}
.answer-bg{background: none repeat scroll 0 0 #47ff50;}
.say-answer{    
    color: #444;
    font-family: trebuchet ms;
    line-height: 32px;
    display: block;
    padding: 10px;
}
.lodemore{
    display: block;
    margin: 14px 0;
}
.user-det{
    font-weight: 500;
    color: #444;
    font-family: Arial, monospace;
}
.user:hover{text-decoration: underline}
.qn-ref-link{color: #014502; font-weight: 500;}
.notse {
    border-left: 4px solid #ffea00;
    margin-bottom: 2px;
    padding: 0 5px;
}
.note-bg{background: none repeat scroll 0 0 #fbf4a2;}
