<link  rel="stylesheet" href="app/css/home.css" />
<section class="birds-home">
    <ul>
        <li>
            <section class="questions">
                <hgroup class="question">
                    <span class="number">Qn.</span><span class="title">What is about this application</span>
                </hgroup>
                <section class="associations">
                    <span>Asked by </span><a class="user-det">Priya S Pai</a> || Ref. <a class="qn-ref-link">https://www.google.com</a>
                </section>
                <section class="tags">
                    <span>tag</span><span>tag</span><span>tag</span><span>tag</span><span>tag</span><span>tag</span>
                </section>            
            </section>
            <section class="answer">
                <ui>
                    <li>
                        <span class="number">Ans.</span><span>Using our presentation mockups is really simple. You just 
                        need to follow these 3 simple steps For any help regarding this file, please feel free to 
                        contact us on Support@zippypixels.com Replace the Sample with Your design and Save it. 
                        (Match the colors and size of sample logo with your logo to get best results)</span><span> by <a>Ravi Chandra R</a>                               </span> || <span>Ref: <a class="qn-ref-link">https://www.google.com</a></span>
                    </li>
                    
                    <li>
                        <span class="number">Ans.</span><span>Using our presentation mockups is really simple. You just 
                        need to follow these 3 simple steps For any help regarding this file, please feel free to 
                        contact us on Support@zippypixels.com Replace the Sample with Your design and Save it. 
                        (Match the colors and size of sample logo with your logo to get best results)</span><span> by <a>Ravi Chandra R</a>                               </span> || <span>Ref: <a class="qn-ref-link">https://www.google.com</a></span>
                    </li>
                    
                </ui>
            </section>   
            <section class="padding-top say-answer answer-bg">
                <p>You want to say...!</p>
                <textarea rows="5" cols="100"></textarea>
                <p>Reference link</p>
                <div>
                    <input type="checkbox" />https (or) <input type="checkbox" />http://www.<input class="ref-link" type="text" name="linlk" />
                </div>
                <input type="button" name="say" value="say" class="cursor-pointer" />
            </section>
            
            <a class="lodemore">Show 5 more solutions given by other users..</a>
            
            <hr>
        </li>   
        
        <li>
            <section class="questions">
                <hgroup class="question">
                    <span class="number">Qn.</span><span class="title">What is about this application</span>
                </hgroup>
                <section class="associations">
                    <span>Asked by </span><a class="user-det">Priya S Pai</a> || Ref. <a class="qn-ref-link">https://www.google.com</a>
                </section>
                <section class="tags">
                    <span>tag</span><span>tag</span><span>tag</span><span>tag</span><span>tag</span><span>tag</span>
                </section>            
            </section>
            <section class="answer">
                <ui>
                    <li>
                        <span class="number">Ans.</span><span>Using our presentation mockups is really simple. You just 
                        need to follow these 3 simple steps For any help regarding this file, please feel free to 
                        contact us on Support@zippypixels.com Replace the Sample with Your design and Save it. 
                        (Match the colors and size of sample logo with your logo to get best results)</span><span> by <a>Ravi Chandra R</a>                               </span> || <span>Ref: <a class="qn-ref-link">https://www.google.com</a></span>
                    </li>
                    
                    <li>
                        <span class="number">Ans.</span><span>Using our presentation mockups is really simple. You just 
                        need to follow these 3 simple steps For any help regarding this file, please feel free to 
                        contact us on Support@zippypixels.com Replace the Sample with Your design and Save it. 
                        (Match the colors and size of sample logo with your logo to get best results)</span><span> by <a>Ravi Chandra R</a>                               </span> || <span>Ref: <a class="qn-ref-link">https://www.google.com</a></span>
                    </li>
                    
                </ui>
            </section>   
            <section class="padding-top say-answer answer-bg">
                <p>You want to say...!</p>
                <textarea rows="5" cols="100"></textarea>
                <p>Reference link</p>
                <div>
                    <input type="checkbox" />https (or) <input type="checkbox" />http://www.<input class="ref-link" type="text" name="linlk" />
                </div>
                <input type="button" name="say" value="say" class="cursor-pointer" />
            </section>
            
            <a class="lodemore">Show 5 more solutions given by other users..</a>
            
            <hr>
        </li>
        
        <li>
            <section class="notse">
                <hgroup class="question">
                    <span class="number">Note.</span><span class="title">What is about some notes from a reference link title</span>
                </hgroup>
                <section class="associations">
                    <span>Asked by </span><a class="user-det">Priya S Pai</a> || Ref. <a class="qn-ref-link">https://www.google.com</a>
                </section>
                <section class="tags">
                    <span>tag</span><span>tag</span><span>tag</span><span>tag</span><span>tag</span><span>tag</span>
                </section>            
            </section>
            <section class="answer">
                <ui>
                    <li>
                        <span class="number">Desc.</span><span>Using our presentation mockups is really simple. You just 
                        need to follow these 3 simple steps For any help regarding this file, please feel free to 
                        contact us on Support@zippypixels.com Replace the Sample with Your design and Save it. 
                        (Match the colors and size of sample logo with your logo to get best results)</span><span> by <a>Ravi Chandra R</a>                               </span> || <span>Ref: <a class="qn-ref-link">https://www.google.com</a></span>
                    </li>
                </ui>
            </section>   
            <section class="padding-top say-answer note-bg">
                <p>Add content to notse...!</p>
                <textarea rows="5" cols="100"></textarea>
                <p>Reference link</p>
                <div>
                    <input type="checkbox" />https (or) <input type="checkbox" />http://www.<input class="ref-link" type="text" name="linlk" />
                </div>
                <input type="button" name="say" value="add" class="cursor-pointer" />
            </section>
            
            <a class="lodemore">Show 5 more solutions given by other users..</a>
            
            <hr>
        </li>
        
    </ul>
</section>