<div class="login">
        <h3><i class="fa fa-lock"></i>&nbsp;Lets fly.. </h3>
        <div>           
            <div class="user-name">
                <label>Username</label>
                <input type="text" name="user-name" value="" ng-model="name"/>
            </div>
            <div class="password">
                <label>Password</label>
                &nbsp;<input type="password" name="password" ng-model="password"/>
            </div>
            <div class="try">
                <input type="submit" value="Login" ng-click="login(name, password)"/>
            </div>
        </div>  
    <p>New user <a href="#/signup">signup</a></p>
</div>