<section class="signup">
    <h3>Enter few details to complete registration</h3>
    <div>
        <label>Username</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="name" />
    </div>
    <div>
        <label>Email</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="email" name="email" />
    </div>
    <div>
        <label>Phone number</label>&nbsp;
        <input type="tel" name="email" />
    </div>
    <div class="try">
        <input type="submit" value="signup" ng-click="login(name, password)"/> (Or) <a href="#/login">Login</a>
    </div>
</section>